*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

img{
    width:200px;
    height: 500px;
    border: 1px solid red;
    object-fit: cover;
    object-position: top left;
}

.img{
    width: 400px;
    height: 300px;
    border: 1px solid red;
    background-image: url("/pictures.html/kana6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: url("/pictures.html/kanade_yoisaki_festival.jpg") no-repeat / cover;
}

